.drui-www {
  .swap-enter {
    opacity: 0.01;
    transform: translateX(5em);
    transition: all .35s ease-in;
  }

  .swap-enter.swap-enter-active {
    opacity: 1;
    transform: translateX(0);
  }

  .swap-leave {
    opacity: 1;
    transform: translateX(0);
    transition: all .35s ease-in;
  }
  .swap-leave.swap-leave-active {
    opacity: 0;
    transform: translateX(-5em);
  }

  .fade-enter {
    opacity: 0.01;
    transition: all .35s ease-in;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
  }

  .fade-leave {
    opacity: 1;
    transition: all .35s ease-in;
  }
  .fade-leave.fade-leave-active {
    opacity: 0;
  }
  body {
    background-color: #f8f9fb;
  }

  .md-image {
    display: block;
    margin: 0 1rem;
    img {
        &.error {
            border-bottom: 2px solid #F04134;
        }
        &.right {
            border-bottom: 2px solid #42C447;
        }
    }
    strong {
        display: block;
        margin: .9rem 0;
    }

    .item {
        margin: 0 .5rem;
    }
  }
  .md-images {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
          width: 100%;
      }

      & > div {
          display: flex;
          flex-direction: column;
          flex: 1;
      }
  }
}

