.drui-www {
  .swap-enter {
    opacity: 0.01;
    transform: translateX(5em);
    transition: all .35s ease-in;
  }

  .swap-enter.swap-enter-active {
    opacity: 1;
    transform: translateX(0);
  }

  .swap-leave {
    opacity: 1;
    transform: translateX(0);
    transition: all .35s ease-in;
  }
  .swap-leave.swap-leave-active {
    opacity: 0;
    transform: translateX(-5em);
  }

  .fade-enter {
    opacity: 0.01;
    transition: all .35s ease-in;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
  }

  .fade-leave {
    opacity: 1;
    transition: all .35s ease-in;
  }
  .fade-leave.fade-leave-active {
    opacity: 0;
  }
  body {
    background-color: #f8f9fb;
  }

  .md-image {
    max-width: 450px;
    display: block;
    margin: 0 1rem;
    img {
        width: 100%;
    }
    strong {
        display: block;
        margin: .9rem 0;
    }
  }
}

